*{
  font-weight: 0;
  font-size: 5vw;
  margin: auto;
  transition: all 0.01s;
  color: #32f845 ;
  background-color:#2e2929;
}
*:hover{
  color:#000000;
}
.keyboard{
  font-size: 8vw;
  height: 12vh;
  width: 25vw;
  border: 0px solid cyan;
  box-sizing: border-box;
  margin-top: auto;
  padding: 0px;
}
.keyboard:hover {
  border: 1px solid black;
  background-color: #000;
  box-shadow: 1px 1px 1px 1px black;
  color: white;
}
input, input:hover{
  align-items: bottom;
  margin-top: 5%;
  font-family: roboto;
  height: 36vh;
  width: 88vw;
  border: 0 solid white;
  user-select: false;
  font-size: 8vh;
  color:#32f845;
}
.top-button{
  background-color: #7efc8a ;
  color: #2e2929;
  margin: 0px;
}
.left-button{
  background-color:#7efc8a  ;
  color: #2e2929;
}
.bottom-buttons{
  background-color: #000;
  color: white;
}
.top-button:hover{
  background-color: #00ffaab1 ;
}
.left-button:hover{
  background-color:#00ffaab1  ;
}
button{
  margin: auto;
  margin-left: 0px;
  margin-right: 0px;
  float: left;
}